section {
    height: 25vh; /* Varje sektion får 25% av höjden */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
}

/* Unika färger för varje sektion */
#section1 { background-color: #ff5733; }
#section2 { background-color: #33c1ff; }
#section3 { background-color: #75ff33; }

img {
    width: 40%; /* Bildens bredd är 80% av sektionens bredd */
    height: auto; /* Bevarar bildens proportioner */
    margin-top: 10px;
}