 body {
     background-color: #93b3d7;
     padding: 20px;
 }

 header {
     background-color: rgb(248, 249, 228);
     margin: 15px 15px 15px 15px;
     padding: 5px;
     text-align: center;
     padding-top: 30px;
     border-radius: 7px;
     opacity: 90;
 }

 h1 {
     color: rgba(69, 20, 20, 0.37);
 }