<<<<<<< HEAD
section {
    height: 25vh; /* Varje sektion får 25% av höjden */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
}

/* Unika färger för varje sektion */
#section1 { background-color: rgb(198, 156, 109); } /*Ljustbrunt kaffe */
#section2 { background-color: rgb(139, 69, 19); }/*cappuccino */
#section3 { background-color: rgb(121, 60, 36); }/*espresso*/
=======
 body {
     background-color: #93b3d7;
     padding: 20px;
 }

 header {
     background-color: rgb(248, 249, 228);
     margin: 15px 15px 15px 15px;
     padding: 5px;
     text-align: center;
     padding-top: 30px;
     border-radius: 7px;
     opacity: 90;
 }

 h1 {
     color: rgba(69, 20, 20, 0.37);
 }
>>>>>>> d2cbd9d8722437c7a764b3e71de56f06cfe24e2e
